.dashboard {
  .ant-row:nth-child(2) {
    display: flex;

    .ant-col > div {
      height: 100%;
    }
  }

  .anticon-calendar {
    margin-right: 5px;
  }

  .ant-picker-input > input:placeholder-shown {
    height: 30px;
  }
}

.card-test {
  .ant-col:nth-child(1) > div {
    background-color: $PinkColor;
  }

  .ant-col:nth-child(2) > div {
    background-color: $BlueColor;
  }

  .ant-col:nth-child(3) > div {
    background-color: $yellowColor;
  }

  .ant-col:nth-child(4) > div {
    background-color: $GreenColor;
  }

  a {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;

    img {
      opacity: 0.8;
    }
  }
}
